@font-face {
    font-family: 'aquinoregular';
    src: url('fonts/aquino-webfont.woff2') format('woff2'),
         url('fonts/aquino-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'frenteNacionalregular';
    src: url('fonts/frentenacional-webfont.woff2') format('woff2'),
         url('fonts/frentenacional-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'imperialregular';
    src: url('fonts/imperial-webfont.woff2') format('woff2'),
         url('fonts/imperial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'gothicBlack';
    src: url('fonts/gothic-black-update.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'milfBlack';
    src: url('fonts/milf-black.ttf');
    font-weight: normal;
    font-style: normal;
}