@use './functions' as fun;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: fun.color('bg');
    position: relative;
    overflow-x: hidden;
    &.scroll-remove{
        overflow: hidden;
    }
}
.hidden{
    display: none;
}
.mt-5{
    margin-top: 5rem;
}
.mb-5{
    margin-bottom: 5rem;
}
a{
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }