@use '../base/functions' as fun;

.container{
    margin: 0 2.5%;
    background: fun.color('linear');
    &--lines{
        .lines{
            display: flex;
            width: 100%;
            justify-content: center;
            gap: 3rem;
            div{
                width: 5rem;
                height: 6vh;
                background-color: fun.color('bg');
            }
        }
    }
    &--logos{
        .logos{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 1vh !important;
            picture:first-child{
                padding-right: 1vw;
                margin-right: 1vw;
                position: relative;
                display: flex;
                align-items: center;
                height: 5vh;
                img{
                    height: 100%;
                    object-fit: contain;
                }
                &::before{
                    content: "";
                    width: 2px;
                    height: 80%;
                    background-color: fun.color('bg');
                    right: 0;
                    position: absolute;
                }
            }
            picture:last-child{
                height: 10vh;
                display: flex;
                img{
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
    &--top{
        margin-top: 2.5rem;
    }
    &--bottom{
        margin-bottom: 2.5rem;
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    .container{
        max-width: 95%;
        background: fun.color('linear-mobile');
        &--no-linear-mobile{
            background: fun.color('primary');
        }
        &--lines{
            .lines{
                gap: 2.5rem;
                div{
                    width: 3rem;
                    height: 4.5rem;
                }
            }
        }
        &--logos{
            .logos{
                padding-top: 1rem !important;
                picture:first-child{
                    padding-right: 1.5rem;
                    margin-right: 1.5rem;
                    height: 3rem;
                }
                picture:last-child{
                    height: 5.5rem;
                }
            }
        }
    }
}