@use '../base/functions' as fun;

.container{
    margin: 0 2.5%;
    background: fun.color('linear');
    &--lines{
        .lines{
            display: flex;
            width: 100%;
            justify-content: center;
            gap: 3rem;
            div{
                width: 5rem;
                height: 6vh;
                background-color: fun.color('bg');
            }
        }
    }
    &--top{
        margin-top: 2.5rem;
    }
}

@media(max-width: fun.breakpoints('ipad-big')){
    .container{
        max-width: 95%;
    }
}